body {
  background-color: white;
}

.exposition-plot {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0 0 3em;
  color: #333;
  overflow: hidden;

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  &--strip {
    width: 38.2%;
    background-color: transparent;
    height: 100%;
    z-index: 2;

    figcaption {
      padding: 3em;

      strong {
        font-size: 1.2777rem;
        line-height: 1.35em;
      }

      p {
        font-size: 0.8333rem;
        line-height: 1.55em;
      }

      em {
        font-size: 0.7222rem;
        line-height: 1.35em;
        display: block;
        color: #58595b;
        width: 61.8%;
      }
    }
  }

  &--canvas {
    width: 61.8%;
    height: 100%;
    position: relative;

    img {
      width: calc(100% - 2em);
      z-index: 1;
      margin: 1em;
      box-shadow: 8px 8px 15px rgba(0,0,0,0.2);
    }

    span {
      overflow: hidden;
    }
  }
}
